@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animateScroll {
  animation: scroll 20s linear infinite;
}

.animateScroll:hover {
  animation-play-state: paused;
}
